<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" preserve-order="true">
  <test name="Test1">
    <classes>
      <class name="AutomationTests.Login"/> 
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="AutomationTests.CreateProject"/> 
    </classes>
  </test> <!-- Test -->
  <test name="Test3">
    <classes>
      <class name="AutomationTests.CreateProject_negative"/> 
    </classes>
    </test>
    <test name="Test4">
    <classes>
      <class name="AutomationTests.Createcrawler"/> 
    </classes>
    </test>
  <!-- Test -->
  
  </suite> <!-- Suite -->
